/* Prevent Bootstrap from messing with your calendar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --parent-color: #FFAC00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #03011E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}

body {
    background-image: linear-gradient(180deg, #EBF2FA 33%, #C2D6EE 104.24%);
    min-height: 100vh;
}

.parentStudentDetail,
.parentStudentDetail:hover {
    background: var(--parent-color);
}

.navbar-nav {
    display: flex;
    justify-content: center;

    transition: transform 0.3s ease-in-out;
    /* Add transition for sliding effect */
}

.profile-nav {
    display: flex;
    align-items: center;
}

.profile-nav img {
    margin-right: 10px;
    /* Adds space between image and name */
}


.calendar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.calendar .weeks,
.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar .days li {
    height: 130px;
    background: #FBF9F9;
    display: flex;
    justify-content: center;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar .days li:hover {
    background-color: #E3E3E3;
}

.calendar .days li.active {
    background-color: var(--parent-color);
    color: white;
}

.calendar-wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.calendar ul {
    list-style-type: none;
    padding: 0;
}

.my-schedule-label {
    border-radius: 15px 15px 0px 0px;
    background: var(--parent-color);
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #03011E;
    color: white;

}

/* Mini Calendar for Student, CS , and Teacher */
/* Mini calendar for all */
.mini-calendar .days-mini li.today {
    border: 2px solid var(--parent-color);
    color: var(--parent-color);

}

/* Headings */
.announcement-section h4,
.bulletin-section h4 {
    background: var(--parent-color);
    color: white;
}

.my-schedule-label {
    background: var(--parent-color);
}

.platform-option {
    border-radius: 10px;
    border: 2px solid #DBE7FF;
    background: #FBF9F9;
    display: flex;
    max-width: 50%;
    height: 64.779px;
    padding: 13px 73px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
    margin: 5px;
}

.platform-option.active {
    border-radius: 10px;
    border: 2px solid var(--parent-color);

    background: #FBF9F9;
}

.custom-save-btn {
    border-radius: 5px;
    background: var(--parent-color);
    box-shadow: 0px 4px 8.1px 0px rgba(3, 1, 30, 0.25);
    color: white;
    border: none;
    padding: 10px 20px;
}

.custom-cancel-btn {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 8.1px 0px rgba(3, 1, 30, 0.25);
    border: none;
    padding: 10px 20px;
    color: #03011E;
}

.myprofile {
    display: flex;
    align-items: stretch;
    /* Ensures both columns stretch to the same height */
    justify-content: center;
}

.myprofileinfo,
.myprofile-edit {
    display: flex;
    flex-direction: column;
}

.dtime {
    border-radius: 10px;
    border: 2px solid #DBE7FF;
    background: #FBF9F9;
    display: flex;
    max-width: 45%;
    height: 64.779px;
    padding: 13px 73px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
    margin: 5px;
}

#student-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 13px 54px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    background-color: var(--parent-color);
    /* Keep default btn-warning or customize */
    border: none;
}

#sched-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 13px 54px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    background-color: var(--parent-color);
    /* Keep default btn-warning or customize */
    border: none;
}

.toggle-group {
    display: flex;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.toggle-radio {
    display: none;
}

.toggle-label {
    flex: 1;
    text-align: center;
    padding: 14px 0;
    border-radius: 10px;
    background-color: #FBF9F9;
    border: 2px solid #a3a1a1;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.toggle-radio:checked+.toggle-label {
    border: 2px solid var(--parent-color);
    background: #FBF9F9;
}

#studentSelect,
#languageSelect {
    border-radius: 10px;
    border: 2px solid #a3a1a1;
    background: #FBF9F9;
    padding: 13px 15px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.datetime-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.datetime-group .form-group {
    width: 100%;
}

@media (min-width: 768px) {
    .datetime-group {
        flex-direction: row;
        justify-content: space-between;
    }

    .datetime-group .form-group {
        flex: 1;
    }

}

#dateInput,
#timeSelect {
    flex: 1;
    height: 53px;
    /* You can adjust this to exactly match our toggle buttons */
    border-radius: 10px;
    border: 2px solid #a3a1a1;
    background: #FBF9F9;
    font-size: 14px;
    padding: 0 15px;
    /* Horizontal padding only */
    box-sizing: border-box;
}

#studentSelect,
#languageSelect,
#platformSelect,
#teacherSelect,
.datetime-group {
    margin-top: 20px;
    /* Margin top */
    margin-bottom: 30px;
    /* Margin bottom */
}

#addStudent-button,
#sched-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 13px 54px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    background-color: #f0ad4e;
    /* Keep default btn-warning or customize */
    border: none;
}

#teacherSelect {
    border-radius: 10px;
    border: 2px solid #a3a1a1;
    background: #FBF9F9;
    padding: 13px 15px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select2-search--inline .select2-search__field,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px !important;
}

.select2-container {
    z-index: 9999;
}

.select2-dropdown {
    z-index: 9999 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: center;
    /* Center the text */
}

.select2-container--default .select2-selection__clear {
    position: fixed;
    /* Absolute position to keep it fixed in place */
    right: 10px;
    /* Keep it on the right side */
    top: 50%;
    /* Center it vertically in the selection container */
    transform: translateY(-50%);
    /* Adjust for exact vertical centering */
    color: #fff;
    /* Color of the button */
    font-size: 16px;
    /* Adjust size for visibility */
    background: none;
    /* Remove any background */
    border: none;
    /* Remove any border */
    cursor: pointer;
    /* Ensure it's clickable */
    z-index: 9999;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    height: 53px !important;
    border-radius: 10px !important;
    border: 2px solid #a3a1a1 !important;
    background: #FBF9F9 !important;
    align-content: center !important;
    align-items: center !important;
    padding: 0 15px !important;
    overflow-y: auto;
    justify-content: center !important;
    box-sizing: border-box !important;
}

.select2-container .select2-search--inline .select2-search__field {
    height: auto !important;
    text-align: center;
    place-content: center;
    color: #03011E !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
    right: 10px;
    height: auto !important;
    position: absolute;
    color: #03011E !important;
}

.select2-container--default .select2-selection__rendered {
    line-height: normal !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    text-align: center !important;
    /* centered for parent view in selecting single timeslot */
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}

.highlight-parent {
    background-color: var(--parent-color);
}